.project-layout {

  .step {
    padding-top: 2rem;
    text-align: center;
    &:before {
      display: block;
      font-size: $h3-font-size;
      width: 2 * $h3-font-size;
      height: 2 * $h3-font-size;
      line-height:  2 * $h3-font-size;
      border-radius: 100%;
      border: 4px solid $color-barton-light;
      box-sizing: content-box;
      margin: 1rem auto;
      content: "1";
    }
    &:nth-of-type(2):before {
      content: "2"
    }
    &:nth-of-type(3):before {
      content: "3"
    }
    &:nth-of-type(4):before {
      content: "4"
    }
  }

  .project-header {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    box-shadow: $vertical-shadow;
    nav {
      font-size: rem(13px);
      letter-spacing: 1px;
      a {
        border-bottom: 4px solid transparent;
        color: $color-gray-light;
        display: inline-block;
        font-family: $font-sans;
        font-weight: $font-medium;
        text-transform: uppercase;
        text-decoration: none;
      }
      .active {
        border-bottom-color: $color-barton-light;
        color: $color-gray-dark;
        font-weight: $font-bold;
        padding-bottom: rem(2px);
      }
      .icon {
        width: rem(24px);
        height: rem(24px);
        line-height: 1.7rem;
        fill: $color-gray-lighter;
        margin: auto .7rem;
        display: inline-block;
      }
      span {
        margin: auto .7rem;
        display: inline-block;
      }
    }
  }

}
