
/* HOMEPAGE */

.photo-header {
  height: 340px;
  position: relative;
  h1 {
    margin-top: 0;
    color: $color-white;
    font-weight: 500;
    font-size: rem(48px);
    line-height: rem(50px);
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-barton-light;
    font-weight: 300;
    font-size: rem(24px);
    line-height: rem(30px);
  }
  .overlay {
    background: rgba($color-gray-dark, .9);
    padding: 2em;
    width: 18em;

  }
  // we may want to use this elsewhere too!
  .photo-credit {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    height: rem(30px);
    background: rgba($color-gray-dark, .9);
    padding: .5rem 1.25rem .5rem .5rem;
    opacity: 0;
    transition: opacity .5s;
    p, a {
      color: $color-white;
      font-size: rem(12px);
      margin: 0;
      font-family: $font-sans;
      display: inline-block;
      font-weight: normal;
    }
    a {
      text-decoration: underline;
    }
    .icon {
      height: 20px;
      fill: $color-white;
    }
  }
  &:hover {
    .photo-credit { opacity: 1; }
  }
}

/* consider moving the following to shared "tile" styles? */

.step-preview {
  margin-top: 4rem;
  margin-bottom: 8rem;
  display: flex;
  flex: 1;
  .step-flag {
    border: $border-style-lighter-gray;
    border-bottom-width: 0;
    position: relative;
    flex-direction: column;
    display: flex;
    flex: 1;
    padding: rem(40px) 10% .5rem;
    margin: 0 .5rem;
    &:before,
    &:after {
      content: "";
      border-top: $border-style-lighter-gray;
      width: 53%;
      display: block;
      position: absolute;
      bottom: 0;
    }
    &:before {
      left: -3px;
      transform: rotate(15deg);
      transform-origin: left;
    }
    &:after {
      right: -3px;
      transform: rotate(-15deg);
      transform-origin: right;
    }
  }
  h3 {
    margin:0 0 .75rem;
    font-family: $font-sans;
    color: $color-gray-dark;
    font-size: rem(20px);
    &:after {
      content: "";
      border-bottom: 4px solid $color-barton-light;
      width: 20px;
      display: block;
      margin: .75rem auto;
    }
  }
  .step-index {
    border: $border-style-dark-gray;
    background: $color-white;
    border-radius: 100%;
    color: $color-gray-dark;
    position: absolute;
    font-family: $font-sans;
    font-size: rem(26px);
    width: rem(50px);
    height: rem(50px);
    line-height: rem(40px);
    display: inline-block;
    top: rem(-25px);
    left: calc(50% - 25px);
  }
  p {
    font-style: italic;
    font-size: rem(15px);
    margin-top: 0;
    color: $color-gray;
  }
}
.project-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .block-outline {
    height: 100%;
    margin: 0 .5rem;
    position: relative;
    .block-text {
      padding: 2.5rem 2.5rem 3rem;
    }
    h3 {
      font-size: rem(26px);
      margin:0 0 .75rem;
      color: $color-primary;
    }
    p {
      font-size: rem(15px);
      line-height: rem(21px);
      font-family: $font-sans;
      margin: 0;
    }
    .block-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      border: $border-style-lighter-gray;
      transition: border-color .5s;
      &:hover {
        border-color:$color-barton-lighter;
      }
    }
    .block-illustration {
      width: 100%;
      background-color: $color-barton-light;
      height: 12rem;
      padding: 4rem 2rem 0;
    }
  }
}

.resource-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .block-outline {
    border: $border-style-lighter-gray;
    height: 100%;
    padding: 1.5rem 1.25rem;
    margin: 0 .5rem;
    h4 {
      font-size: rem(15px);
      margin:0 0 .5rem;
      a {
        text-decoration: none;
      }
    }
    p {
      font-size: rem(15px);
      line-height: rem(21px);
      font-family: $font-sans;
      margin: 0;
    }
  }
}


/* Page sections */
.content {
  text-align: left;
}

.page-section {
  h2 {
    margin-top: 0;
  }
}

/* PROJECT PAGES */

.project-header {
  background: $color-barton-light;
  padding-top: 3rem;
  h1 {
    margin-bottom: 0;
  }
  .project-illustration {
    width: 60%;
    margin-top: 3rem;
    display: block;
    margin: auto;
    @media #{$sm-viewport} {
      width: 30%;
    }
  }
}
.project-nav {
  width: 100%;
  padding: 1.65rem 0 1.5rem;
  box-shadow: $vertical-shadow;
  font-size: rem(13px);
  letter-spacing: 1px;
  position: sticky;
  position: -webkit-sticky;
  top: -1px; /* fix retina flicker */
  background: #FFF;
  z-index: 10;
  a {
    border-bottom: 4px solid transparent;
    color: $color-gray-light;
    display: inline-block;
    font-family: $font-sans;
    font-weight: $font-medium;
    text-transform: uppercase;
    text-decoration: none;
  }
  .active {
    border-bottom-color: $color-barton-light;
    color: $color-gray-dark;
    font-weight: $font-bold;
    padding-bottom: rem(2px);
  }
  .icon {
    width: rem(24px);
    height: rem(24px);
    line-height: 1.7rem;
    fill: $color-gray-lighter;
    margin: auto .7rem;
    display: inline-block;
  }
  span {
    margin: auto .7rem;
    display: inline-block;
  }
}
.project-layout {
    // Just for project pages
  h1 {
    font-size: $h1-font-size;
    font-weight: $font-bold;
    width: 100%;
  }

  h2 {
    font-size: $h2-font-size;
    font-weight: $font-bold;
  }

  h3 {
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  h4 {
    font-size: $h4-font-size;
    font-weight: $font-medium;
  }

  h5 {
    font-size: $h5-font-size;
    font-weight: $font-medium;
  }

  h6 {
    font-size: $h6-font-size;
    font-weight: $font-normal;
    text-transform: uppercase;
  }
  .step {
    padding-top: 2rem;
    text-align: center;
    // to keep sticky nav from overlapping top of anchored ID on in-page links
    border-top: 5rem solid transparent;
    margin-top: -5rem;
    &:before {
      display: block;
      font-size: $h3-font-size;
      width: 2 * $h3-font-size;
      height: 2 * $h3-font-size;
      line-height:  2 * $h3-font-size;
      border-radius: 100%;
      border: 4px solid $color-barton-light;
      box-sizing: content-box;
      margin: 1rem auto;
      content: "1";
    }
    &:nth-of-type(2):before {
      content: "2"
    }
    &:nth-of-type(3):before {
      content: "3"
    }
    &:nth-of-type(4):before {
      content: "4"
    }
  }
}



/* ARTICLE PAGES */
.page-layout {
  h1.page-title {
    text-align: center;
    width: 100%;
  }
}
