
/* HOMEPAGE */

.photo-header {
  height: 340px;
  position: relative;
  h1 {
    margin-top: 0;
    color: $color-white;
    font-weight: 500;
    font-size: rem(48px);
    line-height: rem(50px);
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-barton-light;
    font-weight: 300;
    font-size: rem(24px);
    line-height: rem(30px);
  }
  .overlay {
    background: rgba($color-gray-dark, .9);
    padding: 2em;
    width: 18em;

  }
  // we may want to use this elsewhere too!
  .photo-credit {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    height: rem(30px);
    background: rgba($color-gray-dark, .9);
    padding: .5rem 1.25rem .5rem .5rem;
    opacity: 0;
    transition: opacity .5s;
    p, a {
      color: $color-white;
      font-size: rem(12px);
      margin: 0;
      font-family: $font-sans;
      display: inline-block;
      font-weight: normal;
    }
    a {
      text-decoration: underline;
    }
    .icon {
      height: 20px;
      fill: $color-white;
    }
  }
  &:hover {
    .photo-credit { opacity: 1; }
  }
}

.layout--home {
  h2 {
    font-size: $h2-font-size-alt;
    font-weight: $font-bold;
  }
}

/* consider moving the following to shared "tile" styles? */

.step-preview {
  margin-top: 4rem;
  margin-bottom: 4rem;
  .step-flag {
    border: $border-style-lighter-gray;
    border-bottom-width: 0;
    position: relative;
    padding: rem(40px) 10% rem(20px);
    margin: 0 .5rem 6rem;
    &:before,
    &:after {
      @media #{$md-viewport} {
        content: "";
      }
      border-top: $border-style-lighter-gray;
      width: 59%;
      display: block;
      position: absolute;
      bottom: 0;
    }
    &:before {
      left: -3px;
      transform: rotate(27deg);
      transform-origin: left;
    }
    &:after {
      right: -3px;
      transform: rotate(-27deg);
      transform-origin: right;
    }
  }
  h3 {
    margin:0;
    font-family: $font-sans;
    color: $color-gray-dark;
    font-size: rem(20px);
    position: relative;
    &:after {
      content: "";
      border-style: solid;
      border-color: $color-barton-light transparent transparent transparent;
      border-width: 12px 22px; // last number is half of width
      width: 44px;
      display: block;
      position: absolute;
      bottom: rem(-52px);
      left: calc(50% - 22px); // last number is half of width
    }
  }
  .step-index {
    border: $border-style-dark-gray;
    background: $color-white;
    border-radius: 100%;
    color: $color-gray-dark;
    position: absolute;
    font-family: $font-sans;
    font-size: rem(26px);
    width: rem(50px);
    height: rem(50px);
    line-height: rem(40px);
    display: inline-block;
    top: rem(-25px);
    left: calc(50% - 25px);
  }
  p {
    font-style: italic;
    font-size: rem(15px);
    margin-top: 0;
    color: $color-gray;
    padding: 0 5%;
  }
}


/* Page sections */
.content {
  text-align: left;
}

.page-section {
  h2 {
    margin-top: 0;
  }
}

/* PROJECT PAGES */

.project-header {
  background: $color-barton-light;
  padding-top: 3rem;
  .project-illustration {
    width: 60%;
    margin-top: 3rem;
    display: block;
    margin: auto;
    @media #{$sm-viewport} {
      width: 30%;
    }
  }
}
.project-title {
  h1 {
    margin-bottom: 0;
    font-size: $h1-font-size;
    font-weight: $font-bold;
    width: 100%;
  }
}
.project-nav {
  width: 100%;
  padding: 1.65rem 0 1.5rem;
  box-shadow: $vertical-shadow;
  font-size: rem(13px);
  letter-spacing: 1px;
  position: sticky;
  position: -webkit-sticky;
  top: -1px; /* fix retina flicker */
  background: #FFF;
  z-index: 10;
  a {
    border-bottom: 4px solid transparent;
    color: $color-gray-light;
    display: inline-block;
    font-family: $font-sans;
    font-weight: $font-medium;
    text-transform: uppercase;
    text-decoration: none;
  }
  .active {
    border-bottom-color: $color-barton-light;
    color: $color-gray-dark;
    font-weight: $font-bold;
    padding-bottom: rem(2px);
  }
  .icon {
    width: rem(24px);
    height: rem(24px);
    line-height: 1.7rem;
    fill: $color-gray-lighter;
    margin: auto .7rem;
    display: inline-block;
  }
  span {
    margin: auto 1rem;
    display: inline-block;
    color: $color-gray-lighter;
    font-size: rem(20px);
  }
}
.project-layout {
  // Just in case an h1 slips in
  h1, h2 {
   font-size: $h2-font-size-alt;
   font-weight: $font-bold;
  }
  // scale up font sizes for project page
  h3 {
    font-size: $h2-font-size;
    color: $color-gray-dark;

  }
  h4 {
    font-size: $h3-font-size;
    color: $color-gray;

  }

  .step-title {
    padding-top: 2rem;
    text-align: center;
    // to keep sticky nav from overlapping top of anchored ID on in-page links
    border-top: 5rem solid transparent;
    margin-top: -5rem;
    &.numbered:before {
      display: block;
      font-size: $h3-font-size;
      width: 2 * $h3-font-size;
      height: 2 * $h3-font-size;
      line-height:  2 * $h3-font-size;
      border-radius: 100%;
      border: 4px solid $color-barton-light;
      box-sizing: content-box;
      margin: 1rem auto;
      content: attr(data-number);
    }
    .icon {
      display: block;
      font-size: $h3-font-size;
      width: 2.5 * $h3-font-size;
      height: 2.5 * $h3-font-size;
      line-height:  2.5 * $h3-font-size;
      padding: .5 * $h3-font-size;
      border-radius: 100%;
      border: 4px solid $color-barton-light;
      margin: 1rem auto;
      content: attr(data-number);
    }
  }
}

.project-steps {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .tile-outline {
    border: $border-style-lighter-gray;
    height: 100%;
    padding: 1.5rem 1.25rem;
    margin: 0 .5rem;
    h3 {
      font-size: $h3-font-size;
      margin:0 0 .5rem;
      a {
        text-decoration: none;
      }
    }
    p {
      font-size: rem(15px);
      line-height: rem(21px);
      font-family: $font-sans;
      margin: 0;
    }
  }
  .step-number {
    text-align: center;
    font-family: $font-sans;
    width: 7rem;
    &:before {
      display: block;
      font-size: $h3-font-size;
      width: 1.65 * $h3-font-size;
      height: 1.65 * $h3-font-size;
      line-height:  1.65 * $h3-font-size;
      border-radius: 100%;
      border: 4px solid $color-black;
      color: $color-black;
      box-sizing: content-box;
      margin: 0 auto;
      content: attr(data-number);
      font-weight: bold;
    }
  }
  .project-step-content {
    flex: 1;
    padding: 1rem;
  }
}

.project-prefooter {
  padding-bottom: 4rem;
  .button-container > div {
    @media (max-width: 480px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}


/* ARTICLE PAGES */
.page-layout {
  h1.page-title {
    text-align: center;
    margin-top: 10rem;
    width: 100%;
    &:after {
      border-bottom: 8px solid $color-barton-light;
      content: "";
      display: block;
      width: 4rem;
      margin: 1.5rem auto;
    }
  }
}

/* CONTACT PAGE */
.layout--contact {
  .department-listing {
    margin-bottom: 5rem;
  }
  .department-name {
    margin-top: 1rem;
  }
}
