
/* HOMEPAGE */

.photo-header {
  height: 340px;
  position: relative;
  margin-bottom: 5em;
  h1 {
    margin-top: 0;
    color: $color-white;
    font-weight: 500;
    font-size: rem(48px);
    line-height: rem(50px);
    word-break: normal;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-barton-light;
    font-weight: 300;
    font-size: rem(24px);
    line-height: rem(30px);
  }
  .overlay {
    background: rgba($color-gray-dark, .9);
    padding: 2em;
    width: 20em;

  }
  // we may want to use this elsewhere too!
  .photo-credit {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    height: rem(30px);
    background: rgba($color-gray-dark, .9);
    padding: .5rem 1.25rem .5rem .5rem;
    opacity: 0;
    transition: opacity .5s;
    p, a {
      color: $color-white;
      font-size: rem(12px);
      margin: 0;
      font-family: $font-sans;
      display: inline-block;
      font-weight: normal;
    }
    a {
      text-decoration: underline;
    }
    .icon {
      height: 20px;
      fill: $color-white;
    }
  }
  &:hover {
    .photo-credit { opacity: 1; }
  }
}

/* consider moving the following to shared "tile" styles? */

.step-preview {
  margin-top: 4rem;
  margin-bottom: 4rem;
  .step-flag {
    border: $border-style-lighter-gray;
    border-bottom-width: 0;
    position: relative;
    padding: rem(40px) 10% rem(20px);
    margin: 0 auto 6rem;
    max-width: 200px;
    &:before,
    &:after {
      content: "";
      border-top: $border-style-lighter-gray;
      width: 59%;
      display: block;
      position: absolute;
      bottom: 0;
    }
    &:before {
      left: -3px;
      transform: rotate(27deg);
      transform-origin: left;
    }
    &:after {
      right: -3px;
      transform: rotate(-27deg);
      transform-origin: right;
    }
  }
  h3 {
    margin:0;
    font-family: $font-sans;
    color: $color-gray-dark;
    font-size: rem(20px);
    position: relative;
    &:after {
      content: "";
      border-style: solid;
      border-color: $color-barton-light transparent transparent transparent;
      border-width: 12px 22px; // last number is half of width
      width: 44px;
      display: block;
      position: absolute;
      bottom: rem(-62px);
      left: calc(50% - 22px); // last number is half of width
    }
  }
  .step-index {
    border: $border-style-dark-gray;
    background: $color-white;
    border-radius: 100%;
    color: $color-gray-dark;
    position: absolute;
    font-family: $font-sans;
    font-size: rem(26px);
    width: rem(50px);
    height: rem(50px);
    line-height: rem(40px);
    display: inline-block;
    top: rem(-25px);
    left: calc(50% - 25px);
  }
  p {
    font-style: italic;
    font-size: rem(15px);
    margin-top: 0;
    color: $color-gray;
    padding: 0 5%;
  }
}


/* Page sections */
.content {
  text-align: left;

  p, li, h1, h2, h3, h4, h5 {
    /* special link styles within text content */
    a:not(.usa-button),
    a:not(button) {
      &.link--external,
      &.link--file {
        &:after {
          content: "";
          display: inline-block;
          margin-left: .25rem;
          background: center no-repeat;
          background-size: contain;
          width: 2rem;
          height: 2rem;
          vertical-align: text-bottom;
        }
      }
      &.link--external:after { background-image: url('../img/external-link.svg'); }
      &.link--file:after { background-image: url('../img/external-file.svg'); }
      &.link--phone:after { background-image: none; }
      &.link--phone {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  h2 {
    font-size: $h2-font-size-alt;
    font-weight: $font-medium;
  }
  img {
    border: 2px solid $color-gray-lighter;
  }
}

.page-section {
  margin-top: 1em;
  margin-bottom: 3em;
  h2 {
    margin-top: 0;
  }
}

/* PROJECT PAGES */

.project-header {
  background: $color-barton-light;
  padding-top: 3rem;
  .project-illustration {
    width: 60%;
    margin-top: 3rem;
    display: block;
    margin: auto;
    @media #{$sm-viewport} {
      width: 30%;
    }
  }
}
.project-title {
  h1 {
    margin-bottom: 0;
    font-size: $h1-font-size;
    font-weight: $font-bold;
    width: 100%;
  }
}
.project-nav {
  width: 100%;
  box-shadow: $vertical-shadow;
  font-size: rem(13px);
  letter-spacing: 1px;
  position: sticky;
  position: -webkit-sticky;
  top: -1px; /* fix retina flicker */
  background: #FFF;
  z-index: 10;
  white-space: nowrap;
  .in-page-nav {
    padding: 1rem 0;
    a {
      border-bottom: 0 solid transparent;
      color: $color-gray-light;
      font-family: $font-sans;
      font-weight: $font-medium;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      height: 0;
      line-height: 4rem;
      width: 100%;
      margin: 0 6rem;
      border-bottom-width: 0;
      transition: height .25s;
      overflow: hidden;
      @media #{$sm-viewport} {
        display: inline-block;
        width: auto;
        margin: 0;
        height: 4rem;
        border-bottom-width: 4px;
      }
    }
    .active {
      border-bottom-color: $color-barton-light;
      color: $color-gray-dark;
      font-weight: $font-bold;
      height: 4rem;
    }
    .icon {
      width: rem(24px);
      height: rem(24px);
      line-height: 1.7rem;
      fill: $color-gray-lighter;
      margin: auto .7%;
      display: none;
      @media #{$sm-viewport} {
        display: inline-block;
      }
    }
    span {
      margin: auto .7rem;
      color: $color-gray-lighter;
      font-size: rem(20px);
      display: none;
      @media #{$sm-viewport} {
        display: inline-block;
      }
    }
    &.project-menu-open {
      a {
        height: 4rem;
      }
      & + #mobile-project-menu-button .icon {
        transform: rotate(180deg);
      }
    }
  }
  #mobile-project-menu-button {
    width: 6rem;
    height: 6rem;
    display: block;
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0;
    margin-left: 0;
    cursor: pointer;
    transition: color .25s;
    .icon {
      display: block;
      fill: $color-gray-dark;
      width: 100%;
      height: 100%;
      margin-left: 0;
      transform: rotate(0deg);
      transition: transform .25s;
    }
    @media #{$sm-viewport} {
      display: none;
    }
    &:hover {
      .icon {
        fill: $color-gray-medium;
      }
    }
  }
  .project-thumb {
    background: $color-barton-light;
    position: absolute;
    left: -9rem;
    top: 0;
    display: block;
    height: 100%;
    transition: left .25s;
    object {
      padding-top: 1.5rem;
      height: 6rem;
      width: 9rem;
    }
    & + .in-page-nav {
      transition: padding-left .25s;
    }
    &.visible {
      left: 0;
      & + .in-page-nav {
        padding-left: 11rem;
        a {
          text-align: left;
          margin-left: .7%;
        }
      }
    }
  }
}
.project-layout {
  padding-top: 2rem;
  padding-bottom: 4rem;
  // Just in case an h1 slips in
  h1 {
    font-size: $h2-font-size;
    font-weight: 500;
    color: $color-gray-dark;
  }

  .step-title {
    padding-top: 2rem;
    text-align: center;
    // to keep sticky nav from overlapping top of anchored ID on in-page links
    border-top: 5rem solid transparent;
    margin-top: -5rem;
    font-size: $h2-font-size;
    font-weight: $font-bold;
  }
}

.project-overview {
  padding-top: 4rem;
  padding-bottom: 4rem;
  h2 {
    margin-top: 0;
    font-size: $h2-font-size-alt;
  }
  li {
    list-style-type: none;
    position: relative;
    .icon {
      position: absolute;
      width: rem(24px);
      height: rem(24px);
      fill: $color-barton-light;
      display: block;
      left: rem(-32px);
    }
  }
  &.odd {
    background: $color-gray-lightest;
  }
}

.prefooter {
  margin-top: 2rem;
  padding-bottom: 4rem;
  .button-container > div {
    @media (max-width: 480px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}


h1.page-title {
  text-align: center;
  margin-top: 10rem;
  width: 100%;
  &:after {
    border-bottom: 8px solid $color-barton-light;
    content: "";
    display: block;
    width: 4rem;
    margin: 1.5rem auto;
  }
}
.date {
  color: $color-gray-light;
  font-size: rem(15px);
  font-weight: normal;
  margin-bottom: 4rem;
}


/* CONTACT PAGE */
.layout--contact {
  .department-details {
    .icon {
      background: $color-gray-lighter;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      padding: 3px;
      margin-right: 5px;
      margin-left: 1rem;
    }
  }
  .department-logo {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: inline-block;
    img {
      border-width: 0;
    }
  }
}

/* GLOSSARY, APPS & FORMS & DEPARTMENT INDEX */

.index-item {
  padding-top: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
  border-bottom: $color-gray-lighter 1px solid;
  &:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
  }
  &.section--gray {
    border-bottom-width: 0;
    img {
      border: 1rem solid $color-white;
    }
  }
  h5 {
    font-size: rem(14px);
    margin-bottom: 2rem;
    color: $color-gray-light;
  }
}

.index-item-content p:first-child {
  margin-top: 1.5em; // match h4 margin-top
}



/* Circled characters for steps and glossary */
.circled {
  color: $color-gray-dark;
  display: block;
  font-size: $h2-font-size-alt;
  font-weight: 500;
  font-family: $font-sans;
  text-align: center;
  width: 1.85 * $h3-font-size;
  height: 1.85 * $h3-font-size;
  line-height:  1.85 * $h3-font-size;
  border-radius: 100%;
  border: 4px solid $color-barton-light;
  box-sizing: content-box;
  margin: 5rem auto .5rem;
  padding: .75rem;
  .icon {
    height: 100%;
  }
}

.feedback {
  text-align: center;
  padding: 1px 3rem;
  font-family: $font-sans;
  font-size: 1.3rem;
  margin-top: 4rem;
}
