<footer class="pre-footer section--inverted">
  <div class="container container-fluid">
    <div class="row center-xs">
      <span>{{ site.data.labels.locales[site.locale].prefooter_text }}</span>
    </div>
  </div>
</footer>

</footer>
<footer id="footer-drawer" class="site-footer section--inverted">
  <div class="container container-fluid">
    <div class="row start-sm">
      <div class="footer-logo col-xs-12 col-sm-6 col-md-3">
        <img src="/assets/img/coa-austin-seal-white.png" alt="City of Austin Seal" />
      </div>

      <div class="footer-link-list col-xs-12 col-sm-6 col-md-3">
        <h4><a class="footer-link-list-title" href="{{ site.url }}/projects">{{ site.data.labels.locales[site.locale].projects }}</a></h4>
          <ul>
            {% for project in project_pages limit: 3 %}
              <li><a href="{{ site.url }}{{ project.url }}">{{ project.project_name | titlecase }}</a></li>
            {% endfor %}
            <li><a class="footer-link-list-view-all" href="{{ site.url }}/projects">{{ site.data.labels.locales[site.locale].view_all_prefix }} {{ site.data.labels.locales[site.locale].projects }}</a></li>
          </ul>
        </div>

        <div class="footer-link-list col-xs-12 col-sm-6 col-md-3">
          <h4><a class="footer-link-list-title" href="{{ site.url }}/residential-toolkit">{{ site.data.labels.locales[site.locale].toolkit }}</a></h4>
          <ul>
            {% for page in toolkit_pages limit: 3 %}
              <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a class="footer-link-list-view-all" href="{{ site.url }}/residential-toolkit">{{ site.data.labels.locales[site.locale].view_all_prefix }} {{ site.data.labels.locales[site.locale].toolkit }}</a></li>
          </ul>
        </div>

        <div class="footer-link-list col-xs-12 col-sm-6 col-md-3">
          <h4><a class="footer-link-list-title" href="{{ site.url }}/resources">{{ site.data.labels.locales[site.locale].resources }}</a></h4>
          <ul>
            {% for page in resource_pages limit: 3 %}
              <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a class="footer-link-list-view-all" href="{{ site.url }}/resources">{{ site.data.labels.locales[site.locale].view_all_prefix }} {{ site.data.labels.locales[site.locale].resources }}</a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,ko,my,vi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
