{% assign project = page.name | slugify %}
{% assign diagram = include.diagram | slugify %}
{% capture do_image_path   %}/assets/img/diagrams/{{ project }}/{{ project }}_{{ diagram }}_do.png{% endcapture %}
{% capture dont_image_path %}/assets/img/diagrams/{{ project }}/{{ project }}_{{ diagram }}_dont.png{% endcapture %}

<div class="lightbox-gallery breakout-col-sm-8 row" itemscope itemtype="http://schema.org/ImageGallery">
  <figure class="col-md-6 lightbox-do" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ do_image_path }}" itemprop="contentUrl" data-size="{{ do_image_path | dimensions }}">
          <img src="{{ do_image_path }}" itemprop="thumbnail" alt="{{ include.do_caption }}" />
      </a>
      <figcaption itemprop="caption description">
        <h6 class="do">
          {% include _icon.html icon='check' context='Do' %}
          {{ site.data.labels.locales[site.locale].lightbox_gallery_do }}
        </h6>
        <p>{{ include.do_caption }}</p>
      </figcaption>
  </figure>
  <figure class="col-md-6 lightbox-dont" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{ dont_image_path }}" itemprop="contentUrl" data-size="{{ dont_image_path }}">
          <img src="{{ dont_image_path }}" itemprop="thumbnail" alt="{{ include.dont_caption }}" />
      </a>
      <figcaption itemprop="caption description">
        <h6 class="dont">
          {% include _icon.html icon='close' context='Don‘t' %}
          {{ site.data.labels.locales[site.locale].lightbox_gallery_dont }}
        </h6>
        <p>{{ include.dont_caption }}</p>
      </figcaption>
  </figure>
</div>


<script>
  $(document).ready(function(){
    initPhotoSwipeFromDOM('.lightbox-gallery');
  });
</script>
