{% assign project = page.project_name | slugify %}
{% assign plan = site.sample-plans | where: "plan_type", include.diagram | where: "project", project | first %}
{% if plan != nil %}
<div class="lightbox-gallery breakout-col-sm-8 row" itemscope itemtype="http://schema.org/ImageGallery">
  <figure class="lightbox" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a class="col-sm-7 col-xs-12 " href="{{ site.url }}{{ plan.file_path }}" itemprop="contentUrl" data-size="{{ site.url }}{{ plan.file_path | dimensions }}">
          <img src="{{ site.url }}{{ plan.file_path }}" itemprop="thumbnail" alt="{{ plan.title }}" />
      </a>
      <figcaption class="col-xs-12 col-sm-5" itemprop="caption description">
        {{ plan.content | markdownify }}
      </figcaption>
  </figure>
</div>

{% unless lightbox_flag == true %}
<script>
  $(document).ready(function(){
    initPhotoSwipeFromDOM('.lightbox-gallery');
  });
</script>
{% assign lightbox_flag = true %}
{% endunless %}

{% endif %}
