<div class="col-md-8">
{% for department in site.departments  %}
  <div class="row start-md center-xs">

    <div class="col-xs-10 col-md-6">
      <p><a href="{{ department.department_link }}">{{ department.department_name }}</a><p>
      <p>{{ department.description }}</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>{{ department.phone }}</p>
      {{ department.physical_address_markdown  | markdownify | rtrim: '<p></p>' }}
      {% for periods in department.hours  %}
        {{ periods.time_period_markdown | markdownify | rtrim: '<p></p>' }}
      {% endfor %}
    </div>
  </div>

{% endfor %}
</div>
