<nav id="go" class="project-nav fixedsticky">
	<a class="project-thumb" href="{{ site.url }}/projects/{{ page.project_name | slugify }}">
		<object alt="{{ page.project_name | capitalize }} illustration" data="{{ site.url }}/assets/img/projects/{{ page.project_name | slugify }}.svg" type="image/svg+xml"></object>
	</a>
	<div class="in-page-nav container-fluid center-xs">
		<div class="row center-xs">
		{% assign general_project = site[projects_collection] | where: 'project_name', "general process" | where: 'hide_project_from_menu', false | first %}
		{% for project_steps in general_project.project_steps_list %}
			{% assign project_step = general_project.project_steps_list[forloop.index0].step_name %}
			{% if forloop.first %}
				<a class="{% if page.step_number == forloop.index0 %}active{% endif %}" href="{{ site.url }}/projects/{{ page.project_name | slugify }}/#go">
					{{ project_step }}
				</a>
				<span> | </span>
			{% else %}
				{% if forloop.index0 > 1 %}
					{% include _icon.html icon='arrow-long-right' %}
				{% endif %}
				<a class="{% if page.step_number == forloop.index0 %}active{% endif %}" href="{{ site.url }}/projects/{{ page.project_name | slugify }}/{{ project_step | slugify }}/#go">
					{{ forloop.index0 }}. {{ project_step }}
				</a>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	<span id="mobile-project-menu-button">
		{% include _icon.html icon='caret-down' %}
	</span>
</nav>
<script>
	$(document).ready(function(){
		// polyfill for sad browsers
		$('.project-nav').fixedsticky();
	});
</script>
