{% assign project_pages = site.projects | where: 'in_projects_menu', true | sort: "menu_sort_order" %}
{% for project in project_pages limit: limit %}
<div class="project-tile col-xs-10 col-sm-6 col-md-4">
  <div class="tile-outline">
		<object class="block-illustration" alt="{{ project.project_name | capitalize }} illustration" data="{{ site.url }}/assets/img/projects/{{ project.project_name  | slugify }}.svg" type="image/svg+xml">
			<!-- TODO: See if necessary for browser support <img src="{{ project.project-illustration }}.jpg" /> -->
		</object>
    <div class="tile-text">
      <h3>{{ project.project_name | capitalize }}</h3>
      <p>{{ project.excerpt }}</p>
    </div>
    <a class="tile-link" href="{{ project.url }}"></a>
  </div>
</div>
{% endfor %}
