{% assign article = include.tile %}
<div class="tile tile--article col-xs-10 col-sm-6 col-md-4">
  <a class="tile-link" href="{{ site.url }}{{ article.url }}"></a>
  <div class="tile-outline">
    <div class="tile-text">
      <h3 class="tile-title">{{ article.title }}</h3>
      <div class="tile-excerpt">{{ article.excerpt | strip_html | truncatewords: 19 }}</div>
      <p class="tile-date">{{ site.data.labels.locales[site.locale].resource_last_revision_prefix }} {{ article.last_modified_at | date: '%B %e, %Y' }}</p>
    </div>
  </div>
</div>
