.site-footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  a {
    text-decoration: none;
  }
}

.footer-logo {
  img {
    margin-top: 2rem;
  }
}

.footer-link-list {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    font-size: rem(14px);
  }
  h4 {
    margin-top: 2rem;
  }
}
a.footer-link-list-title {
  color: $color-barton-light;
  font-size: rem(16px);
}
