$site-header-height: 6.0rem;

.site-header {
  background: $color-gray-lightest;
  font-family: $font-sans;
  .no-logo {
    font-size: 1.1rem;
    line-height: $site-header-height;
    padding: $site-header-height / 4 0;
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      & > li {
        margin: 0;
        padding: 0 $site-header-height / 4;
        list-style-type: none;
        display: inline-block;
        position: relative;
        line-height: $site-header-height;
        transition: background .25s;
        span {}
        .icon { width: 2rem; }
        ul {
          background: $color-gray-lightest;
          position: absolute;
          transition: top .25s;
          left: 0;
          min-width: 100%;
          width: auto;
          overflow: hidden;
          transition: background .25s, max-height .25s;
          max-height: 0;
          li {
            display: block;
            line-height: $base-font-size;
            padding: $site-header-height / 4;
            white-space: nowrap;
          }
        }
        &:hover,
        ul:hover {
          cursor: pointer;
          background: $color-gray-lighter;
        }
        &:hover ul,
        ul:hover {
          // limit of 6 items in dropdown lists
          max-height: 6 * $base-font-size ;
          background: $color-gray-lighter;
        }
      }
    }
  }
}

.glossary-aside {
  font-size: 1.3rem;
  font-family: $font-sans;
  border-style: solid;
  border-color: $color-barton-light;
  border-width: 0 0 0 2px;
  padding:  1rem 0 1rem 2.5%;
  max-width: 20%;
  flex: 1 auto;
  position: relative;
  min-width: 12rem;
  &:before,
  &:after {
    border-style: inherit;
    border-color: inherit;
    content: "";
    width: 1rem;
    position: absolute;
    left: 0;
  }
  &:before {
    border-width: 2px 0 0 0;
    top: 0;
  }
  &:after {
    border-width: 0 0 2px 0;
    bottom: 0;
  }
}
// todo: mobile
.insert-glossary-here {
  width: 130%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.breakout {
  max-width: 75%;
  flex: 1 auto;

}

/* Homepage */

.photo-header {
  height: 340px;
  h1 {
    margin-top: 0;
    color: $color-white;
    font-weight: 500;
    font-size: rem(48px);
    line-height: rem(50px);
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-barton-light;
    font-weight: 300;
    font-size: rem(24px);
    line-height: rem(30px);
  }
  .overlay {
    background: rgba($color-gray-dark, .9);
    padding: 2em;
    width: 18em;

  }
}

/* Page sections */

.page-section {
  h2 {
    margin-top: 0;
  }
}

/* consider moving the following to shared "tile" styles? */

.step-preview {
  margin-top: 4rem;
  margin-bottom: 8rem;

  .step-flag {
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: $color-gray-lightest;
    position: relative;
    height: 100%;
    padding: rem(40px) 10% .5rem;
    margin: 0 .5rem;
    &:before,
    &:after {
      content: "";
      border-top: $border-style-lightest-gray;
      width: 53%;
      display: block;
      position: absolute;
      bottom: 0;
    }
    &:before {
      left: -3px;
      transform: rotate(15deg);
      transform-origin: left;
    }
    &:after {
      right: -3px;
      transform: rotate(-15deg);
      transform-origin: right;
    }
  }
  h3 {
    margin:0 0 .75rem;
    font-family: $font-sans;
    color: $color-gray-dark;
    font-size: rem(20px);
    &:after {
      content: "";
      border-bottom: 4px solid $color-barton-light;
      width: 20px;
      display: block;
      margin: .75rem auto;
    }
  }
  .step-index {
    border: $border-style-dark-gray;
    background: $color-white;
    border-radius: 100%;
    color: $color-gray-dark;
    position: absolute;
    font-family: $font-sans;
    font-size: rem(26px);
    width: rem(50px);
    height: rem(50px);
    line-height: rem(40px);
    display: inline-block;
    top: rem(-25px);
    left: calc(50% - 25px);
  }
  p {
    font-style: italic;
    font-size: rem(15px);
    margin-top: 0;
    color: $color-gray;
  }
}
.project-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .block-outline {
    height: 100%;
    margin: 0 .5rem;
    position: relative;
    .block-text {
      padding: 2.5rem 2.5rem 3rem;
    }
    h3 {
      font-size: rem(26px);
      margin:0 0 .75rem;
      color: $color-primary;
    }
    p {
      font-size: rem(15px);
      line-height: rem(21px);
      font-family: $font-sans;
      margin: 0;
    }
    .block-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      border: $border-style-lightest-gray;
      transition: border-color .5s;
      &:hover {
        border-color:$color-barton-lighter;
      }
    }
    .block-illustration {
      width: 100%;
      background-color: $color-barton-light;
      height: 12rem;
      svg {
        fill: $color-gray-dark;
        display: block;
        height: 100%;
        width: auto;
        margin: auto auto;
      }
    }
  }
}

.resource-block {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .block-outline {
    border: $border-style-lightest-gray;
    height: 100%;
    padding: 1.5rem 1.25rem;
    margin: 0 .5rem;
    h4 {
      font-size: rem(13px);
      margin:0 0 .5rem;
      a {
        text-decoration: none;
      }
    }
    p {
      font-size: rem(13px);
      line-height: rem(18px);
      font-family: $font-sans;
      margin: 0;
    }
  }
}
