section {
  padding-top: 2em;
  padding-bottom: 2em;
}
.section--inverted {
  background: $color-gray-dark;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
  a { color: inherit; }
}
.section--gray {
  background: $color-gray-lightest;
}

html {
  background: $color-gray-dark;
  color: $color-white;
  body {
    background: $color-white;
    color: $color-gray-dark;
    min-height: auto !important; // google translate widget messes with this
  }
}
