section {
  padding-top: 2em;
  padding-bottom: 2em;
}
.section--inverted {
  background: $color-primary-darkest;
  color: $color-white;
}

// maybe move to a _footer.scss
.site-footer {
  padding-top: 4em;
  padding-bottom: 4em;
}
