// Colors -------------- //

.usa-color-short {
  height: 7rem;
  margin-bottom: 1rem;
}

.usa-color-name {
  font-size: 1.2rem;

  @include media($medium-screen) {
    margin: 0;
  }

  @include margin(0 null 1em);
}

.usa-color-row {
  margin-bottom: 3rem;

  .color-big {
    @include media($medium-screen) {
      float: left;
      padding-right: 4%;
      width: 32%;
    }
  }

  .color-small {
    float: left;
    margin-right: 0;
    width: 50%;

    @include media($medium-screen) {
      width: 17%;
    }
  }

  p {
    font-family: $font-monospace;
    font-size: 1.5rem;

    &:last-of-type {
      font-size: 11px;
    }
  }
}

.usa-primary-color-section {
  margin-bottom: 0;

  @include media($medium-screen) {
    margin-bottom: 8rem;
  }

  .usa-color-square {
    @include span-columns(6);
    margin-bottom: 7rem;
    padding-bottom: 50%;
    position: relative;

    @include media($medium-screen) {
      @include span-columns(3);
      margin-bottom: 0;
      padding-bottom: 19%;
    }
  }

  .usa-mobile-end-row {
    margin-right: 0;

    @include media($medium-screen) {
      margin-right: 2.35765%;
    }
  }

  .usa-color-name {
    margin: 0;
  }
}

.usa-color-inner-content {
  position: absolute;
  top: 100%;
}

.usa-color-hex {
  @include margin(1rem null 0);
  font-weight: $font-bold;
}

.usa-color-text {
  @include padding(1rem 2rem);
  font-weight: $font-bold;
  margin-bottom: .4rem;
}

.usa-color-outline {
  .usa-color-text {
    box-shadow: inset 0 0 0 1px $color-gray;
  }
}

// Color background helpers

.usa-color-primary {
  background-color: $color-primary;
}

.usa-color-primary-darker {
  background-color: $color-primary-darker;
}

.usa-color-primary-darkest {
  background-color: $color-primary-darkest;
}

.usa-color-base {
  background-color: $color-base;
}

.usa-color-gray-dark {
  background-color: $color-gray-dark;
}

.usa-color-gray-light {
  background-color: $color-gray-light;
}

.usa-color-white {
  background-color: $color-white;
  box-shadow: inset 0 0 0 1px $color-gray;
}

.usa-color-primary-alt {
  background-color: $color-primary-alt;
}

.usa-color-primary-alt-dark {
  background-color: $color-primary-alt-dark;
}

.usa-color-primary-alt-darkest {
  background-color: $color-primary-alt-darkest;
}

.usa-color-primary-alt-light {
  background-color: $color-primary-alt-light;
}

.usa-color-primary-alt-lightest {
  background-color: $color-primary-alt-lightest;
}

.usa-color-secondary {
  background-color: $color-secondary;
}

.usa-color-secondary-dark {
  background-color: $color-secondary-dark;
}

.usa-color-secondary-darkest {
  background-color: $color-secondary-darkest;
}

.usa-color-secondary-light {
  background-color: $color-secondary-light;
}

.usa-color-secondary-lightest {
  background-color: $color-secondary-lightest;
}

.usa-color-gray {
  background-color: $color-gray;
}

.usa-color-gray-lighter {
  background-color: $color-gray-lighter;
}

.usa-color-gray-lightest {
  background-color: $color-gray-lightest;
}

.usa-color-gray-warm-dark {
  background-color: $color-gray-warm-dark;
}

.usa-color-gray-warm-light {
  background-color: $color-gray-warm-light;
}

.usa-color-gray-cool-light {
  background-color: $color-gray-cool-light;
}

.usa-color-gold {
  background-color: $color-gold;
}

.usa-color-gold-light {
  background-color: $color-gold-light;
}

.usa-color-gold-lighter {
  background-color: $color-gold-lighter;
}

.usa-color-gold-lightest {
  background-color: $color-gold-lightest;
}

.usa-color-green {
  background-color: $color-green;
}

.usa-color-green-light {
  background-color: $color-green-light;
}

.usa-color-green-lighter {
  background-color: $color-green-lighter;
}

.usa-color-green-lightest {
  background-color: $color-green-lightest;
}

.usa-color-cool-blue {
  background-color: $color-cool-blue;
}

.usa-color-cool-blue-light {
  background-color: $color-cool-blue-light;
}

.usa-color-cool-blue-lighter {
  background-color: $color-cool-blue-lighter;
}

.usa-color-cool-blue-lightest {
  background-color: $color-cool-blue-lightest;
}

.usa-color-focus {
  background-color: $color-focus;
}

.usa-color-visited {
  background-color: $color-visited;
}

// Color text helpers

.usa-color-text-primary-darkest {
  color: $color-primary-darkest;
}

.usa-color-text-primary-darker {
  color: $color-primary-darker;
}

.usa-color-text-primary {
  color: $color-primary;
}

.usa-color-text-cool-blue-light {
  color: $color-cool-blue-light;
}

.usa-color-text-primary-alt-darkest {
  color: $color-primary-alt-darkest;
}

.usa-color-text-green {
  color: $color-green;
}

.usa-color-text-visited {
  color: $color-visited;
}

.usa-color-text-gray-dark {
  color: $color-gray-dark;
}

.usa-color-text-gray {
  color: $color-gray;
}

.usa-color-text-gray-warm-dark {
  color: $color-gray-warm-dark;
}

.usa-color-text-secondary-darkest {
  color: $color-secondary-darkest;
}

.usa-color-text-secondary-dark {
  color: $color-secondary-dark;
}

.usa-color-text-secondary {
  color: $color-secondary;
}

.usa-color-text-white {
  color: $color-white;
}

.usa-heading-alt {
  border-bottom: 1px solid $color-gray;
  padding-bottom: .8rem;
}


code,
pre {
  background-color: $color-gray-lightest;
  font-family: $font-monospace;
  font-size: 1.3rem;
}

pre {
  padding: 1.6rem;

  code {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

code {
  @include padding(0.2em null);

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}



// External link styles

[href^="http:"]:not([href*="standards.com"]),
[href^="https:"]:not([href*="standards.com"]) {
  @include external-link(external-link, external-link-hover);
}

.usa-button,
.link-download,
.media_link {
  &[href^="http:"]:not([href*="standards.com"]),
  &[href^="https:"]:not([href*="standards.com"]) {
    &::after {
      display: none;
    }
  }
}

.logo-links,
.usa-disclaimer-stage {
  [href^="http:"]:not([href*="standards.com"]),
  [href^="https:"]:not([href*="standards.com"]) {
    &::after {
      display: none;
    }
  }
}

// Tooltip container
.tooltip {
  display: inline-block;
  position: absolute;

  // Show the tooltip text when you mouse over the tooltip container
  &:hover {
    .tooltip-text {
      opacity: 1;
    }
  }
}

.tooltip-text {
  display: none;

  @include media($medium-screen) {
    @include margin(0 null 0 20px);
    background-color: $color-gray-dark;
    border-radius: $border-radius;
    bottom: 100%;
    color: $color-white;
    display: block;
    font-size: 14px;
    left: 50%;
    padding: 7px 10px;
    width: 267px;
    opacity: 0;
    position: absolute; // Position the tooltip text
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;
    z-index: 1;

    &::after {
      border-width: 5px;
      border-style: solid;
      border-color: $color-base transparent transparent transparent;
      content: ' ';
      left: 10%;
      margin-left: -12px;
      position: absolute;
      top: 100%; // At the bottom of the tooltip
    }
  }
}

.layout-demo {
  margin-bottom: 8.6rem;

  @include media($medium-screen) {
    margin-bottom: 5.9rem;
  }
}

// Demo fixed footer
.demo-footer {
  background-color: $color-gray-dark;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.5);
  bottom: 0;
  position: fixed;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .usa-button {
    background-image: url('#{$site-image-path}/angle-arrow-left-inverse.png');
    background-image: url('#{$site-image-path}/angle-arrow-left-inverse.svg');
    background-repeat: no-repeat;
    background-position: left 2rem center;
    background-size: 1rem;
    padding-left: 3.3rem;

    @include media($medium-screen) {
      @include margin(0 1.5rem 0 null);
    }
  }
}

hr {
  background: $color-gray-lighter;
  border: none;
  height: 1px;
  margin: 3em 0;
}

iframe {
  margin-bottom: 3rem;
}

article {
  margin-bottom: 5rem;

  .post-title {
    margin-top: 0;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  } // .post-title

  .post-date {
    text-transform: none;
  }

  &.post-excerpt {
    .post-title {
      @include h2();
    }

    .post-content p {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }
  } // .post-excerpt


} // article
