// ATX Colors
$color-barton:               #01875f;
$color-barton-dark:          #01694a;
$color-barton-light:         #01eaa4;
$color-barton-lighter:       #99f7db;
$color-barton-lightest:      #e5fcf5;
