---
layout: default
---

<div class="container container-fluid page-layout">
  <div class="row start-xs">

    <h1 class="page-title">{{ page.title }}</h1>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    {% for department in site.departments %}
      <div id="{{ department.department_name | slugify }}" class="row start-xs department-listing">

        <div class="col-xs-12 col-md-6">
          <h3 class="department-name"><a href="{{ department.department_link }}" target="_blank">{{ department.department_name }}</a></h3>
          {% if department.description %}<p>{{ department.description }}</p>{% endif %}
        </div>
        <div class="col-xs-12 col-md-6">

          {% if department.phone %}
          <div class="row">
            <div class="col-xs-2">
              <p>{% include _icon.html icon='phone' context='Office Phone' %}</p>
            </div>
            <div class="col-xs-10">
              <p>{{ department.phone }}</p>
            </div>
          </div>
          {% endif %}

          {% if department.physical_address_markdown %}
          <div class="row">
            <div class="col-xs-2">
              <p>{% include _icon.html icon='map-marker' context='Office Location' %}</p>
            </div>
            <div class="col-xs-10">
              {{ department.physical_address_markdown  | markdownify | rtrim: '<p></p>' }}
            </div>
          </div>
          {% endif %}

          {% if department.mailing_address_markdown %}
          <div class="row">
            <div class="col-xs-2">
              <p>{% include _icon.html icon='map-marker' context='Office Mailing Address' %}</p>
            </div>
            <div class="col-xs-10">
              {{ department.mailing_address_markdown  | markdownify | rtrim: '<p></p>' }}
            </div>
          </div>
          {% endif %}

          {% if department.hours %}
          <div class="row">
            <div class="col-xs-2">
              <p>{% include _icon.html icon='clock' context='Office Hours' %}</p>
            </div>
            <div class="col-xs-10">
              {% for periods in department.hours %}
                {{ periods.time_period_markdown | markdownify | rtrim: '<p></p>' }}
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if department.email %}
          <div class="row">
            <div class="col-xs-2">
              <p>{% include _icon.html icon='camera' context='Email' %}</p>
            </div>
            <div class="col-xs-10">
              <p><a href="mailto:{{ department.email }}" target="_blank">{{ department.email }}</a></p>
            </div>
          </div>
          {% endif %}

        </div>
      </div>

    {% endfor %}
    </div>

  </div>
</div>
