---
layout: default
---

<div class="container container-fluid page-layout">
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-8">
      <h1 class="page-title">{{ page.title }}</h1>
      <p class="lead">{{ page.lead }}</p>
    </div>
  </div>
  <div class="row center-xs">
    <div class="content center-xs col-xs-12 col-sm-10">


      {% assign lastletter = "" %}

      {% for department in site.departments %}

        {% assign tmpletter = department.title | slice: 0 | upcase %}

        {% if tmpletter != lastletter %}
        <div id="{{ tmpletter }}" class="row start-sm center-xs alpha">
          <span class="circled">{{ tmpletter }}</span>
        </div>
        {% endif %}


        <div id="{{ department.department_name | slugify }}" class="row start-xs index-item">

          <div class="col-xs-12 col-md-6">
            <h4 class="department-name">{{ department.department_name }}</h4>
            {% if department.description %}<p>{{ department.description }}</p>{% endif %}
            <h5><a href="{{ department.department_link }}" target="_blank">{{ site.data.labels.locales[site.locale].department_link_prefix }}{{ department.department_name }}{{ site.data.labels.locales[site.locale].department_link_suffix }}</a></h5>
          </div>
          <div class="col-xs-12 col-md-6 department-details">

            {% if department.physical_address_markdown %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='map-marker' context='Office Location' %}</p>
              </div>
              <div class="col-xs-10">
                {{ department.physical_address_markdown  | markdownify | rtrim: '<p></p>' }}
              </div>
            </div>
            {% endif %}

            {% if department.hours %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='clock' context='Office Hours' %}</p>
              </div>
              <div class="col-xs-10">
                {% for periods in department.hours %}
                  {{ periods.time_period_markdown | markdownify | rtrim: '<p></p>' }}
                {% endfor %}
              </div>
            </div>
            {% endif %}

            {% if department.email %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='mail' context='Email' %}</p>
              </div>
              <div class="col-xs-10">
                <p><a href="mailto:{{ department.email }}" target="_blank">{{ department.email }}</a></p>
              </div>
            </div>
            {% endif %}

            {% if department.contact_form_url %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='mail' context='Email' %}</p>
              </div>
              <div class="col-xs-10">
                <p><a href="{{ department.contact_form_url }}" target="_blank">{{ department.contact_form_url }}</a></p>
              </div>
            </div>
            {% endif %}

            {% if department.phone %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='phone' context='Office Phone' %}</p>
              </div>
              <div class="col-xs-10">
                <p>{{ department.phone }}</p>
              </div>
            </div>
            {% endif %}


          </div>
        </div>

      {% assign lastletter = tmpletter %}

      {% endfor %}

    </div>

  </div>
</div>
