---
layout: default
---

{% assign featured_department = site.departments | where: "featured", "true" | first  %}

<div class="container container-fluid page-layout">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="lead">{{ page.lead_markdown | markdownify }}</div>
    </div>
  </div>
  <div class="row center-xs">
    <div class="content center-xs col-xs-12 col-sm-10" role="directory">





      {% assign lastletter = "" %}

      {% for department in site.departments %}

        {% assign tmpletter = department.title | slice: 0 | upcase %}

        {% if tmpletter != lastletter %}
        <div role="separator" id="{{ tmpletter }}" class="row start-sm center-xs alpha">
          <span class="circled">{{ tmpletter }}</span>
        </div>
        {% endif %}


        <div role="listitem" aria-label="{{ department.department_name }}" id="{{ department.department_name | slugify }}" class="row start-xs index-item">

          <div class="col-xs-12 col-md-5">
            <h4 class="department-name">{{ department.department_name }}</h4>
            {% if department.description %}<p>{{ department.description }}</p>{% endif %}
            <h5><a href="{{ department.department_link }}" title="{{ site.data.labels.languages[site.language].default_link_prefix }} {{ department.department_name }}" target="_blank">{{ site.data.labels.languages[site.language].department_link_prefix }} {{ department.department_name }}</a></h5>

            {% unless department.logo_path == nil %}<a class="department-logo" title="{{ site.data.labels.languages[site.language].department_logo_label }} {{ department.department_name }}" href="{{ department.department_link }}" target="_blank"><img src="{{ site.baseurl }}{{ department.logo_path }}" alt="{{ department.department_name }}" /></a>{% endunless %}

          </div>
          <div class="col-xs-12 col-md-offset-1 col-md-6 department-details">

            {% if department.physical_address_markdown %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='map-marker' context='Office Location' %}</p>
              </div>
              <div class="col-xs-10" aria-label="{{ site.data.labels.languages[site.language].department_address_label }} {{ department.department_name }}">
                {{ department.physical_address_markdown  | markdownify | rtrim: '<p></p>' }}
              </div>
            </div>
            {% endif %}

            {% if department.hours %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='clock' context='Office Hours' %}</p>
              </div>
              <div class="col-xs-10" aria-label="{{ site.data.labels.languages[site.language].department_hours_label }} {{ department.department_name }}">
                {% for periods in department.hours %}
                  {{ periods.time_period_markdown | markdownify | rtrim: '<p></p>' }}
                {% endfor %}
              </div>
            </div>
            {% endif %}

            {% if department.email %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='mail' context='Email' %}</p>
              </div>
              <div class="col-xs-10">
                <p><a href="mailto:{{ department.email }}" title="{{ site.data.labels.languages[site.language].department_email_label }} {{ department.department_name }}: {{ department.email }}" target="_blank">{{ department.email }}</a></p>
              </div>
            </div>
            {% endif %}

            {% if department.contact_form_url %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='mail' context='Email' %}</p>
              </div>
              <div class="col-xs-10">
                <p><a href="{{ department.contact_form_url }}" title="{{ site.data.labels.languages[site.language].default_link_prefix }} {{ site.data.labels.languages[site.language].department_contact_label }} {{ department.department_name }}" target="_blank">{{ department.contact_form_url }}</a></p>
              </div>
            </div>
            {% endif %}

            {% if department.phone %}
            <div class="row">
              <div>
                <p>{% include _icon.html icon='phone' context='Office Phone' %}</p>
              </div>
              <div class="col-xs-10">
                <p><a href="tel:{{ department.phone | slugify }}" title="{{ site.data.labels.languages[site.language].department_telephone_label }} {{ department.department_name }}: {{ department.phone | slugify }}">{{ department.phone }}</a></p>
              </div>
            </div>
            {% endif %}


          </div>
        </div>

      {% assign lastletter = tmpletter %}
      {% endfor %}

    </div>

  </div>
</div>
