---
layout: default
---
<div class="container container-fluid page-layout">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="lead">{{ page.lead_markdown | markdownify }}</div>
    </div>
  </div>
  <div class="row center-xs">
    <article class="content center-xs start-sm col-xs-12 col-sm-10 col-md-8">

      {% assign lastletter = "" %}

      {% for document in site.library %}

        {% assign tmpletter = document.title | slice: 0 | upcase %}

        {% if tmpletter != lastletter %}
        <div id="{{ tmpletter }}" class="row center-xs start-sm alpha">
          <span class="circled">{{ tmpletter }}</span>
        </div>
        {% endif %}


        <div id="{{ document.title | slugify }}" class="row center-xs start-sm index-item">
          <h4 class="col-sm-4 col-xs-10">{{ document.title }}</h4>
          <div class="index-item-content col-sm-8 col-xs-10">
            <p>
              {{ document.description }}
            </p>
            <h5><i>{{ site.data.labels.locales[site.locale].resource_last_revision_prefix }} {{ document.last_modified_at | date: '%B %e, %Y' }}</i></h5>

            <a class="usa-button usa-button-outline read-more" data-doctype="{{ document.document_type }}" target="_blank" title="{{ site.data.labels.locales[site.locale].resource_download_link_prefix }} {{ document.title }}" href="{{ site.url }}{{ document.file_path }}">
              {{ site.data.labels.locales[site.locale].resource_download_link_prefix }}
            </a>
          </div>
        </div>

      {% assign lastletter = tmpletter %}

      {% endfor %}

      {% include get-feedback.html %}

    </article>
  </div>
</div>
