---
layout: default
---
<div class="container container-fluid page-layout">
  <div class="row center-xs">

    <h1 class="page-title">{{ page.title }}</h1>

    <article class="content start-xs col-xs-12 col-sm-10 col-md-6">
      {{ content }} <span></span>

      {% if page.source_name.size > 0 %}
        <h5>{{ site.data.labels.languages[site.language].glossary_source_title }} <a href="{{ page.source_link }}" target="_blank">{{ page.source_name | rstrip }}</a></h5>
      {% endif %}

      {% if page.confused_with_term_in_glossary.size > 0 %}
        <hr>
        <div class="row center-xs">
          <h6>{{ site.data.labels.languages[site.language].glossary_related_terms_title }}</h6>
        </div>
        <div class="row center-xs">
          {% for term in page.confused_with_term_in_glossary %}
          {% assign term_url = term | slugify | prepend: '/resources/glossary/' %}
          {% assign term_title = term | capitalize %}
          <div class="tile col-xs-10 col-sm-6">
            <a class="tile-link" title="{{ site.data.labels.languages[site.language].glossary_link_prefix }} {{ term_title }}" href="{{ site.baseurl }}{{ term_url }}"></a>
            <div class="tile-outline tile-text--compact">
              <h4>{{ term_title }}</h4>
            </div>
          </div>
          {% endfor %}

        </div>
      {% endif %}
      {% include get-feedback.html %}

    </article>
  </div>
</div>
