---
layout: default
---
<div class="container container-fluid page-layout">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="lead">{{ page.lead_markdown | markdownify }}</div>
    </div>
  </div>
  <div class="row center-xs">
    <article class="content start-sm center-xs col-xs-12 col-sm-10 col-md-8">

      {% assign lastletter = "" %}

      {% for term in site.glossary %}

        {% assign tmpletter = term.title | slice: 0 | upcase %}

        {% if tmpletter != lastletter %}
        <div id="{{ tmpletter }}" class="row start-sm center-xs  alpha">
          <span class="circled">{{ tmpletter }}</span>
        </div>
        {% endif %}


        <div id="{{ term.title | slugify }}" class="row start-sm center-xs index-item">
          <h4 class="col-sm-3 col-xs-10">{{ term.title }}</h4>
          <div class="index-item-content col-sm-9 col-xs-10">
            <p>
              {{ term.short_definition }}
            </p>
            <h5><a class="read-more" href="{{ site.url }}{{ term.url }}">
              {{ site.data.labels.locales[site.locale].glossary_link_prefix }} {{ term.title | downcase }}
            </a></h5>
          </div>
        </div>

      {% assign lastletter = tmpletter %}

      {% endfor %}

    </article>
  </div>
</div>
