---
layout: default
---
<section class="photo-header" style="background-image: url('{{ page.header_photo }}')">
	<div class="container container-fluid start-xs">
    <div class="overlay">
			<h1>{{ page.header_title }}</h1>
      <h3>{{ page.header_subtitle }}</h3>
    </div>
	</div>
  <span class="photo-credit">
    {% include _icon.html icon='camera' context='Shed' %}
    <p>{{ page.header_photo_credit_name }} <a href="{{ page.header_photo_credit_link }}">{{ page.header_photo_credit_link }}</a></p>
  </span>
</section>

<section class="container container-fluid page-section">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-8">
      <p class="lead">{{ page.header_excerpt }}</p>
    </div>
  </div>
</section>

<section class="container container-fluid page-section">
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-8 col-md-6">
      <h2>{{ page.process_title }}</h2>
      <p>{{ page.process_summary_markdown | markdownify }}</p>
    </div>
  </div>
  <div class="row center-xs">
    {% for step in page.process_steps %}
    <div class="step-preview col-xs-10 col-sm-6 col-md-3">
      <div class="step-flag">
        <h3>{{ step.name }}</h3>
        <p>{{ step.description }}</p>
        <span class="step-index">{{ forloop.index }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="container container-fluid page-section">
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-8 col-md-6">
      <h2>{{ page.projects_title }}</h2>
      <p>{{ page.projects_summary_markdown | markdownify }}</p>
    </div>
  </div>
  <div class="row center-xs">
		{% assign project_pages = site.projects | where: 'in_projects_menu', true %}
		{% for project in project_pages limit: 6 %}
		{% if project.visibility != "unlisted" %}
    <div class="project-block col-xs-10 col-sm-6 col-md-4">
      <div class="block-outline">
				<object class="block-illustration" alt="{{ project.project_name | capitalize }} illustration" data="/assets/img/projects/{{ project.project_name  | slugify }}.svg" type="image/svg+xml">
					<!-- TODO: See if necessary for browser support <img src="{{ project.project-illustration }}.jpg" /> -->
				</object>
        <div class="block-text">
          <h3>{{ project.project_name | capitalize }}</h3>
          <p>{{ project.excerpt }}</p>
        </div>
        <a class="block-link" href="{{ project.url }}"></a>
      </div>
    </div>
		{% endif %}
    {% endfor %}
  </div>
</section>

<section class="container container-fluid page-section">
  <div class="row center-xs">
    <div class="col-xs-10 col-sm-8 ">
      <h2>{{ page.resources_title }}</h2>
    </div>
  </div>
  <div class="row center-xs">
    {% for resource in page.resources_featured %}
    <div class="resource-block col-xs-10 col-sm-6 col-md-4">
			<a href="{{ resource.link }}" class="block-outline">
        <h4>{{ resource.name }}</h4>
        <p>{{ resource.description }}</p>
      </div>
		</a>
    {% endfor %}
  </div>
</section>


<article class="content start-xs col-xs-12 col-sm-8">
  {{ content }} <br>
</article>
