---
layout: default
---
{% include setup-pages.html %}

<section class="photo-header" style="background-image: url('{{ page.header.header_photo_path }}')">
	<div class="container container-fluid start-xs">
    <div class="overlay">
			<h1>{{ page.header.header_title }}</h1>
      <h3>{{ page.header.header_subtitle }}</h3>
    </div>
	</div>
  <span class="photo-credit">
    {% include _icon.html icon='camera' context='Shed' %}
    <p>{{ page.header.header_photo_credit_name }} <a href="{{ page.header.header_photo_credit_link }}">{{ page.header.header_photo_credit_link }}</a></p>
  </span>
</section>

<section class="page-section">
	<div class="container container-fluid">
	  <div class="row center-xs">
	    <div class="col-xs-12 col-sm-10 col-md-8">
	      <h2>{{ page.process_section.process_title }}</h2>
	      <div class="lead">{{ page.process_section.process_summary_markdown | markdownify }}</div>
    	</div>
	  </div>
	  <div class="row center-xs">
		  {% for step in site.data.labels.locales[site.locale].project_steps %}
			{% if forloop.index0 > 0 %}
	    <a href="{{ step.step_url }}" class="step-preview col-xs-6 col-sm-4 col-md-2">
	      <div class="step-flag">
	        <h3>{{ step.step_name }}</h3>
	        <span class="step-index">{{ forloop.index0 }}</span>
	      </div>
				<p>{{ step.step_description }}</p>
	    </a>
			{% endif %}
	    {% endfor %}
	  </div>
	</div>
</section>

<section class="page-section section--gray">
	<div class="container container-fluid">
	  <div class="row center-xs">
	    <div class="col-xs-12 col-sm-10 col-md-8">
	      <h2>{{ page.projects_section.projects_title }}</h2>
	      <div class="lead">{{ page.projects_section.projects_summary_markdown | markdownify }}</div>
	    </div>
	  </div>
	  <div class="row center-xs">
			{% assign project_pages = site.projects | where: 'in_projects_menu', true | sort: "menu_sort_order" %}
			{% for project in project_pages limit: page.projects_section.limit_projects_to %}
				{% unless project.hide_project_from_homepage == true %}
					{% include tiles-projects.html tile=project %}
				{% endunless %}
			{% endfor %}
		</div>
	  <div class="row center-xs button-row">
			<div class="col-xs-10">
				<a class="usa-button" href="{{ site.url }}/projects" }}>{{ page.projects_section.projects_button_text }}</a>
			</div>
	  </div>
	</div>

</section>


<section class="page-section">
	<div class="container container-fluid">
	  <div class="row center-xs">
	    <div class="col-xs-12 col-sm-10 col-md-8">
	      <h2>{{ page.toolkit_section.toolkit_title }}</h2>
				<div class="lead">{{ page.toolkit_section.toolkit_summary_markdown | markdownify }}</div>
	    </div>
	  </div>
	  <div class="row center-xs">
			{% for resource in toolkit_pages limit:3 %}
				{% include tiles-articles.html tile=resource %}
			{% endfor %}
	  </div>
		<div class="row center-xs button-row">
			<div class="col-xs-10">
				<a class="usa-button" href="{{ site.url }}{{ page.toolkit_section.toolkit_button_url }}" }}>{{ page.toolkit_section.toolkit_button_text }}</a>
			</div>
		</div>
	</div>

</section>


<section class="page-section section--gray section--last">
	<div class="container container-fluid">
	  <div class="row center-xs">
	    <div class="col-xs-12 col-sm-10 col-md-8">
	      <h2>{{ page.resources_section.resources_title }}</h2>
				<div class="lead">{{ page.resources_section.resources_summary_markdown | markdownify }}</div>
	    </div>
	  </div>
	  <div class="row center-xs">
			{% for resource in resource_pages limit:6 %}
				{% include tiles-resources.html tile=resource tile_width="3" %}
			{% endfor %}
	  </div>
		<div class="row center-xs button-row">
			<div class="col-xs-10">
				<a class="usa-button" href="{{ site.url }}{{ page.resources_section.resources_button_url }}" }}>{{ page.resources_section.resources_button_text }}</a>
			</div>
		</div>
	</div>

</section>
