---
layout: default
---


{% capture all_content %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign this_project = site[all_content] | where: 'project', page.project | sort: 'step' %}
{% endif %}

{% include project-header.html %}

{% include project-nav.html %}

<div class="container container-fluid project-layout">
	<div class="row start-xs">
		<article class="content start-xs col-xs-12 col-sm-offset-2 col-sm-8">

		{% if url_final_segment == page.project %}
      <div class="center-xs">
  			<h2 data-number="{{ page.step }}" class="step-title">{{ page.step_title | capitalize }}</h2>
        <p class="lead">{{ page.intro }}</p>
        <h2>{{ page.step_cards_title }}</h2>
      </div>
			{% for project_step in this_project %}
        {% if project_step.step > 0 %}
  			<div class="project-steps">
  				<div class="block-outline row">
  					<div data-number="{{ project_step.step }}" class="step-number"></div>
  					<div class="project-step-content">
  						<h3><a href="{{ project_step.url }}">{{ project_step.step_title }}</a></h3>
  						<p>{{ project_step.step_overview }}</p>
  					</div>
  				</div>
  			</div>
        {% endif %}
			{% endfor %}

		{% else %}

			<h2 data-number="{{ page.step }}" class="step-title">{{ page.step_title | capitalize }}</h2>
			{{ content }} <br>

		{% endif %}

		</article>
	</div>
</div>

{% for project_step in this_project %}
  {% if project_step.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.step_title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = this_project[forloop.index] %}
      {% assign nexttitle = next.step_title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = project_step %}
{% endfor %}

<div class="container container-fluid project-prefooter">
	<div class="row start-xs">
		<aside class="button-container center-xs start-sm col-xs-12 col-sm-offset-1 col-sm-10 row">
      <div class="start-xs col-xs-6">
			  {% if prevurl %}<a class="usa-button usa-button-outline" href="{{ prevurl }}">{{ site.data.labels.locales[site.locale].project_button_prev }} {{ prevtitle }}</a>{% endif %}<br />
      </div>
      <div class="end-xs col-xs-6">
        {% if nexturl %}<a class="usa-button" href="{{ nexturl }}">{{ site.data.labels.locales[site.locale].project_button_next }} {{ nexttitle }}</a>{% endif %}
      </div>
		</aside>
	</div>
</div>
