<!DOCTYPE html>

<html>

	{% include head.html %}

	<body class="project-layout">

	{% include site-header.html %}

	<section class="main">
		<div class="project-header">
			<div class="container container-fluid center-xs">
					<img class="project-graphic" src="{{ page.project-graphic }}" alt="{{ page.name }} graphic">
					<h1>{{ page.title }}</h1>
					<nav>
						<a class="active" href="#{{ site.data.labels.locales[site.locale].project_step_1_title | slugify }}">{{ site.data.labels.locales[site.locale].project_step_1_title }}</a>
						{% include _icon.html icon='arrow-long-right' %}
						<a href="#{{ site.data.labels.locales[site.locale].project_step_2_title | slugify }}">{{ site.data.labels.locales[site.locale].project_step_2_title }}</a>
						{% include _icon.html icon='arrow-long-right' %}
						<a href="#{{ site.data.labels.locales[site.locale].project_step_3_title | slugify }}">{{ site.data.labels.locales[site.locale].project_step_3_title }}</a>
						{% include _icon.html icon='arrow-long-right' %}
						<a href="#{{ site.data.labels.locales[site.locale].project_step_4_title | slugify }}">{{ site.data.labels.locales[site.locale].project_step_4_title }}</a>
						<span> | </span>
						<a href="#{{ site.data.labels.locales[site.locale].resources | slugify }}">{{ page.name }} {{ site.data.labels.locales[site.locale].resources }}</a>
					</nav>
				</div>
		</div>
		<div class="container container-fluid">
			<div class="row center-xs">



				{% if page._page-layout %}
				  {% include {{ page._page-layout }} %}
				{% endif %}

				<article class="content start-xs col-xs-12 col-sm-8">
					{{ content }}
				</article>

			</div>
		</div>
	</section>

	{% include footer.html %}
<script src="{{ relative }}assets/javascripts/application.js"></script>
	</body>
</html>
