---
layout: default
---
{% include setup-pages.html %}

<div class="container container-fluid page-layout">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="lead">{{ page.lead_markdown | markdownify }}</div>
    </div>
  </div>
</div>
<section class="container container-fluid page-section">
  <div class="row center-xs">
  {% for resource in resource_pages %}
    {% include tiles-resources.html tile=resource tile_width="3" %}
  {% endfor %}
  </div>
</section>
